body{

    font-family: cursive;
}


.container{

    text-align: left;
    border: 2px solid #000;
    margin: 0px 5px 5px 5px;
    padding: 5px;
}

.container h1{

color: #000;

}


#cabecera{

    color: #fff;
    background-color: rgb(17, 30, 169);
    text-align: left;
    height: 50px;
    width: 100%;
}


